<h3 class="card-header modal-header custumheader">Forgot Password</h3><br>
<div class="card-body" style= "border: 2px solid rgb(184, 207, 238);">
    <form *ngIf="!mailSentMessage" [formGroup]="forgotPwform" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="text-success">{{mailSentMessage}}</label>
            <p class="font-italic textClr">A password reset link will be sent to your email to reset your password.If you don't get and email within a few minutes,please re-try.</p>
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" />
            <div *ngIf="isValidInput('email')" class="error-messages">
              <div *ngIf="forgotPwform.controls['email'].errors!.required">
                User Name is required.
              </div>
            </div>
            <label class="text-danger" *ngIf="forgotPwform.controls['email'].hasError('email')">
              Enter a valid email address!
            </label>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary button">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 "></span>
                Submit
            </button>
            <a routerLink="/" (click)="closeModal('forgotPassword');" class="btn btn-link">Cancel</a>
        </div>
    </form>
<div *ngIf="mailSentMessage">
  <label class="text-success">{{mailSentMessage}}</label>
  <br><br>
  <button (click)="closeModal('forgotPassword');" class="btn btn-link button">Redirect to home</button>
</div>
  </div>


