
<div class="row" style="border: 2px solid rgb(184, 207, 238);align-items: center;">
  <div class="col-lg-6">
    <img alt="Login Logo" src="./assets/login_logo.png" />
  </div>
  <div *ngIf="error.length >0" class="alert alert-danger">
    <span *ngFor="let item of error">{{item}} </span>
  </div>

  <div class="col-lg-6">
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" formControlName="password">
      </div>
      <div *ngIf="isValidInput('password')" class="error-messages">
        <div *ngIf="resetForm.controls['password'].errors!.required">
          Password is required.
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="confirmPassword" class="form-control" formControlName="confirmPassword">
      </div>
      <div *ngIf="isValidInput('confirmPassword')" class="error-messages">
        <div *ngIf="resetForm.controls['confirmPassword'].errors!.required">
          Please confirm your password.
        </div>
      </div>
      <div class="error-messages" *ngIf="resetForm.controls.confirmPassword.errors?.confirmedValidator">
        Password and Confirm Password does not match.</div>


  <button type="submit" class="btn btn-warning button">Reset Password</button>

  <button type="button" class="btn btn-link" (click)="redirectHomePage()">redirect to home</button>
  </form>
</div>
</div>
