<div class="row fileUpload">
  <div class=" col-md-1"></div>
  <div class="card col-md-10" style="margin-top: 40px;margin-block-end: 40px;">
    <div class="container rounded bg-white mt-5">
      <!-- <form  (ngSubmit)="onSubmitForm()"> -->

        <form name="sellForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

          <div class="form-row">

            <div class="form-group col" style="column-width: auto;">
              <div class="p-0 py-0">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex flex-row align-items-center back">
                  <i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col" style="column-width: auto;">
                  <h5>Make<span aria-hidden="true" class="required">*</span></h5>
                  <p-dropdown  [options]="makers" [(ngModel)]="selectedMake" optionLabel="make"
                    [filter]="true" filterBy="make"  placeholder="Select Make" class="select-style"
                    (onChange)="onChangeMake($event,f)"[ngClass]="{ 'is-invalid': f.submitted && makeControl.invalid }"
                    name="selectedMake"
                    #makeControl="ngModel">
                    <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value" *ngIf="selectedMake">
                        <div>{{selectedMake.make}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-maker pTemplate="item">
                      <div class="country-item">
                        <div>{{maker.make}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <div *ngIf="selectedMake.make == '' && (makeControl.dirty || makeControl.touched)"
                    class="error-messages">
                    Make is required
                  </div>
                </div>

                <div class="form-group col" style="column-width: auto;">
                  <h5 class="required">Model<span aria-hidden="true" class="required">*</span></h5>
                  <p-dropdown [options]="models" [(ngModel)]="selectedModel"
                    optionLabel="model" [filter]="true" filterBy="model"  placeholder="Select Model"
                    class="select-style" (onChange)="onChangeModel($event)" [disabled]="modelFlag"
                    [ngClass]="{'ng-valid ng-dirty': selectedModel.model !== ''}"
                    name="selectedModel" [ngClass]="{'ng-invalid ng-dirty': selectedModel.model == ''}"
                    #modelControl="ngModel">
                    <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value" *ngIf="selectedModel">
                        <div>{{selectedModel.model}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-model pTemplate="item">
                      <div class="country-item">
                        <div>{{model.model}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <div *ngIf="selectedModel.model == '' && (modelControl.dirty || modelControl.touched)"
                    class="error-messages">
                    Model is required
                  </div>
                </div>
              </div>
              <!--Parts related parameter-->
              <div *ngIf="!roleStatus" class="row mt-3">
                <div class="form-group col" style="column-width: auto;">
                  <h5>Part Name<span aria-hidden="true" class="required">*</span></h5>
                  <p-dropdown  [options]="parts" [(ngModel)]="selectedPart" optionLabel="part" name="selectedPart"
                    [filter]="true" filterBy="part" placeholder="Select Part" class="select-style"
                    [disabled]="modelFlag" (onChange)="onChangePart($event)" [ngClass]="{'ng-valid ng-dirty': selectedPart.part !== ''}"
                    [ngClass]="{'ng-invalid ng-dirty': selectedPart.part == ''}" #partControl="ngModel">
                    <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value" *ngIf="selectedPart">
                        <div>{{selectedPart.part}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-partName pTemplate="item">
                      <div class="country-item">
                        <div>{{partName.part}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <div *ngIf="selectedPart.part == '' && (partControl.dirty || partControl.touched)"
                    class="error-messages">
                    Part is required
                  </div>
                </div>
                <div class="form-group col" style="column-width: auto;">
                  <h5>Shipping<span aria-hidden="true" class="required">*</span> </h5>
                  <p-dropdown [options]="shippingStatus" [(ngModel)]="selectedShippingOption" placeholder="YES/NO"
                    optionLabel="shipping" #shipControl="ngModel" name="selectedShippingOption">
                  </p-dropdown>
                </div>
              </div>
            </div>
            <!--VEHICLE parameters-->
            <div *ngIf="roleStatus" class="row mt-3">

                <div class="form-group col" style="column-width: auto;">
                  <h5>VIN<span aria-hidden="true" class="required">*</span> </h5>
                  <input type="text" class="form-control"  [(ngModel)]="selectedVin"
                    placeholder="e.g. 2GNAOXEX5E6235589"#vinValue="ngModel" required minlength="17" name="selectedVin">
                    <div *ngIf="vinValue.invalid && (vinValue.dirty || vinValue.touched)" class="error-messages">
                      <div *ngIf="vinValue.errors!.required"> VIN is required. </div>
                      <div *ngIf="vinValue.errors?.minlength"> VIN is 17 characters Long </div>
                    </div>
                </div>
                <div class="form-group col" style="column-width: auto;">
                  <h5>Mileage<span aria-hidden="true" class="required">*</span></h5>
                  <input type="number" class="form-control" [(ngModel)]="selectedMileage"
                    placeholder="e.g. 1500 miles" #mileage="ngModel" required name="selectedMileage">
                    <div *ngIf="mileage.invalid && (mileage.dirty || mileage.touched)" class="error-messages">
                      <div *ngIf="mileage.errors!.required"> Mileage is required. </div>

                    </div>
                </div>
              </div>
              <!--VEHICLE para meters end-->
              <div class="form-row">
                <div class="form-group col" style="column-width: auto;">
                  <h5>Year<span aria-hidden="true" class="required">*</span></h5>
                  <p-dropdown [options]="years" [(ngModel)]="selectedYear" name="selectedYear" optionLabel="year" #yearControl="ngModel"></p-dropdown>
                <div *ngIf="yearControl.value== '' && (yearControl.dirty || yearControl.touched)"
                  class="error-messages">
                  Year is required
                </div>
                </div>

                <div class="form-group col" style="column-width: auto;">
                  <h5>Price <span aria-hidden="true" class="required">*</span></h5>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                      <!-- <span class="input-group-text">0.00</span> -->
                    </div>
                    <input class="form-control min-width: 150px" type="number" [(ngModel)]="priceValue" value="0.00" min="0" step="1.01"
                      data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency"
                      id="priceValue" #pricev="ngModel" required rows="3" name="priceValue">
                      <br>
                    <div *ngIf="pricev.value== null && (pricev.dirty || pricev.touched)" class="error-messages">
                      <div *ngIf="pricev.errors!.required"> Price is required. </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col">

                  <h5>Description<span aria-hidden="true" class="required">*</span></h5>
                  <textarea type="text" class="form-control" [(ngModel)]="description" id="description"
                  placeholder="e.g. Item Details " #descV="ngModel" name="description" required>

              </textarea>
                <!-- <div [hidden]="description=='' &&  (descV.control.dirty || descV.control.touched) ">
                Value is required
              </div> -->
                <div *ngIf="description=='' &&  (descV.control.dirty || descV.control.touched) " class="error-messages">
                  <div *ngIf="descV.errors!.required"> Description is required. </div>

                </div>

              </div>
            </div>
              <div class="form-row">

              <div class="form-row" class="d-flex justify-content-center">
                <div class="form-group col" >
                  <div class="mt-5 text-left">
                    <button class="btn btn-primary button" type="submit" [disabled]="f.form.invalid">Update</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class=".col-md- 	" style="width:20px" >
            <br>
          </div>

          <div class="form-group col" style="column-width: auto;" style="text-align:center justify-content-md-center">
            <div class="p-0 py-0 row mt-8" ></div>
              <div *ngIf="roleStatus" class="card bg-light row mt-8" style="text-align:center">
                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                <label class="lableDetail" *ngIf="roleStatus">Please upload your vehicle front ,left ,right and rear view images <span aria-hidden="true" class="required">*</span></label>
                <div *ngFor='let url of images;let imgIndex=index'>
                  <input *ngIf="roleStatus" id="{{'file' +imgIndex}}" type="file" class="form-control fileUpload"
                    (change)="onFileChange($event,imgIndex)" style="justify-content-md-center " accept="image/*">
                  <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                    <div *ngIf="f.file.errors.required">File is required.</div>
                  </div> -->
                  <div  class="justify-content-md-center" style="height:100px; width:150px;">
                    <img [src]="url" height="100" width="150px" style="margin: 3px;" id="{{'image_'+imgIndex}}"> <br />
                  </div>
                </div>

              </div>
              <!--Image edit for parts-->
              <div *ngIf="!roleStatus" class="card bg-light row mt-8" style="text-align:center">
                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                <label class="lableDetail" *ngIf="!roleStatus">Please upload your vehicle part image <span aria-hidden="true" class="required">*</span> </label>
                <input *ngIf="!roleStatus" id="file" type="file" class="form-control fileUpload"
                  (change)="onFileChange($event,0)" style="justify-content-md-center" accept="image/*">
                <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                    <div *ngIf="f.file.errors.required">File is required.</div>
                  </div> -->
                <div>
                  <img [src]="images[0]" height="150" width="200px" style="margin: 3px; justify-content-md-center"> <br />
                </div>
              </div>
            </div>
        </div>

      </form>
    </div>
  </div>
  <div class=" col-md-1"></div>
</div>
