<p>buy-list works</p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/assets/car1.jpg" class="card-img-top img-thumbnail img-thumbnail" alt="...">
      <div class="card-body">
        <div class="card-text">
        	<div class="buy-item-box">
        	  <h4>{{ value | currency }}</h4>		
			  <div>Item Name</div>
			  <div>Connect with junkyard</div>
			</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/assets/car2.jpg" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <div class="card-text">
        	<div class="buy-item-box">
        	  <h4>{{ value | currency }}</h4>		
			  <div>Item Name</div>
			  <div>Connect with junkyard</div>
			</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/assets/car3.jpg" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <div class="card-text">
        	<div class="buy-item-box">
        	  <h4>{{ value | currency }}</h4>		
			  <div>Item Name</div>
			  <div>Connect with junkyard</div>
			</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/assets/car1.jpg" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <div class="card-text">
        	<div class="buy-item-box">
        	  <h4>{{ value | currency }}</h4>		
			  <div>Item Name</div>
			  <div>Connect with junkyard</div>
			</div>
        </div>
      </div>
    </div>
  </div>
</div>