 <div *ngIf="isLoading" class="content-position">
    <app-loading-spinner></app-loading-spinner>
  </div>

<div class="filter-row row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5"
*ngIf="!isLoading">

<span class="p-float-label">
<p-dropdown [options]="makers" [(ngModel)]="selectedMake" 
id="make"
optionLabel="make" [filter]="true" filterBy="make"
[showClear]="true" placeholder="Select Make" class="select-style"
(onChange)="onChangeMake($event)"
[ngClass]="{'ng-valid ng-dirty': selectedMake.make !== ''}"
[ngClass]="{'ng-invalid ng-dirty': selectedMake.make == ''}">
<ng-template pTemplate="selectedItem">
  <div class="country-item country-item-value" *ngIf="selectedMake">
    <div>{{selectedMake.make}}</div>
  </div>
</ng-template>
<ng-template let-maker pTemplate="item">
  <div class="country-item">
    <div>{{maker.make}}</div>
  </div>
</ng-template>
</p-dropdown>
<label for="make" class="validation-star">*</label>
</span>

<span class="p-float-label">
<p-dropdown [options]="models" [(ngModel)]="selectedModel" optionLabel="model" [filter]="true" filterBy="model"
id="model"
[showClear]="true" placeholder="Select Model" class="select-style"
(onChange)="onChangeModel($event)" [disabled]="modelFlag"
[ngClass]="{'ng-valid ng-dirty': selectedModel !== null}"
[ngClass]="{'ng-invalid ng-dirty': selectedModel == null}">
<ng-template pTemplate="selectedItem">
  <div class="country-item country-item-value" *ngIf="selectedModel">
    <div>{{selectedModel.model}}</div>
  </div>
</ng-template>
<ng-template let-model pTemplate="item">
  <div class="country-item">
    <div>{{model.model}}</div>
  </div>
</ng-template>
</p-dropdown>
<label for="model" class="validation-star">*</label>
</span>

<!-- use this for parts -->
<span class="p-float-label" *ngIf="role === 'USER'">
<p-dropdown [options]="parts" [(ngModel)]="selectedPart" optionLabel="part" 
[filter]="true" filterBy="part"
id="part"
[showClear]="true" placeholder="Select Part" class="select-style" 
[disabled]="modelFlag"
(onChange)="onChangePart($event)" 
[ngClass]="{'ng-valid ng-dirty': selectedPart !== null}"
[ngClass]="{'ng-invalid ng-dirty': selectedPart == null}">
<ng-template pTemplate="selectedItem">
  <div class="country-item country-item-value" *ngIf="selectedPart">
    <div>{{selectedPart.part}}</div>
  </div>
</ng-template>
<ng-template let-partName pTemplate="item">
  <div class="country-item">
    <div>{{partName.part}}</div>
  </div>
</ng-template>
</p-dropdown>
<label for="part" class="validation-star">*</label>
</span>

<p-dropdown [options]="years" [(ngModel)]="selectedYear" optionLabel="year" [filter]="true" filterBy="year"
[showClear]="true" placeholder="Select Year" class="select-style"
[disabled]="yearStateFlag">
<ng-template pTemplate="selectedItem">
  <div class="country-item country-item-value" *ngIf="selectedYear">
    <div>{{selectedYear.year}}</div>
  </div>
</ng-template>
<ng-template let-yearNum pTemplate="item">
  <div class="country-item">
    <div>{{yearNum.year}}</div>
  </div>
</ng-template>
</p-dropdown>

<p-dropdown [options]="states" [(ngModel)]="selectedstate" optionLabel="state" [filter]="true" filterBy="state"
[showClear]="true" placeholder="Select State" class="select-style" [disabled]="yearStateFlag">
<ng-template pTemplate="selectedItem">
  <div class="country-item country-item-value" *ngIf="selectedstate">
    <div>{{selectedstate.state}}</div>
  </div>
</ng-template>
<ng-template let-stateObj pTemplate="item">
  <div class="country-item">
    <div>{{stateObj.state}}</div>
  </div>
</ng-template>

</p-dropdown>
<span *ngIf="role === 'USER'; else junkyardSearch">
  <button type="button" class="btn btn-primary mr-2 mt-3 sm-button filter-btn"
  (click)="search()" [disabled]="yearStateFlag">Search</button>
  <button class="btn btn-secondary mr-2 mt-3" (click)="resetFilters()">Reset</button>
</span>
<ng-template #junkyardSearch>
  <span>
   <button type="button" class="btn btn-primary sm-button mr-2 filter-btn"
   (click)="search()" [disabled]="yearStateFlag">Search</button>
   <button class="btn btn-secondary mr-2 filter-btn" (click)="resetFilters()">Reset</button>
 </span>
</ng-template>
</div>

<!-- Display card content -->
<div class="buy-list">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    <div class="col mb-4" *ngFor="let item of buyItems; let parentIndx = index;">
      <div class="card h-100">
        <div class="embed-responsive embed-responsive-16by9" 
        (click)="navigateItemDetails(item)"
        
        style="cursor: pointer;">
        <img [src]="item.imageUri" class="card-img-top img-thumbnail embed-responsive-item" alt="Salvage Car">
      </div>
      <div class="card-body">
        <div class="card-text">
          <div class="buy-item-box">
            <div class="card-content">
              <span><h3>{{ item.price | currency }}</h3> </span>
              <!-- show rating -->
              <span *ngIf="item.rating !== -1">
                <span *ngFor="let item of stars; let i = index;">
                  <i *ngIf="i < buyItems[parentIndx].rating; else unfilledStar"class="bi bi-star-fill" style="color: #007bff;">
                  </i>
                  <ng-template #unfilledStar>
                    <i class="bi bi-star"></i>
                  </ng-template>
                </span>
              </span> 

            </div>
            <div><span *ngIf="item.part !== ''"><strong>{{item.part}}</strong></span> {{item.make}} {{item.model}} {{item.year}}</div>
            <div class="card-content"><span>{{item.sellDate | date: 'dd/MM/yyyy'}}</span>
              <span *ngIf="item.rating !== -1"
              (click)="connectWithSeller(item.username)"
              class="contact-seller">Contact Junkyard
                <span><i class="bi bi-chat-left-fill"> </i> </span>
              </span>
            </div>
            <div class="card-content">
              <span>{{item.city}}, {{item.state}}</span>
              <span class="contact-seller" 
              (click)="connectWithSeller(item.username)"
              *ngIf="item.rating == -1">Contact Seller
                <span><i class="bi bi-chat-left-fill"> </i> </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="no-data-found content-position" *ngIf="buyItems?.length == 0 && !isLoading">
  <div>
    <img class="img-thumbnail" src=".././assets/sorry.png" alt="">
  </div>
</div>

<nav aria-label="Page navigation example" *ngIf="buyItems?.length !== 0 && !isLoading">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{'disabled': previousRecordFlag}" style="cursor: pointer;">
      <a class="page-link"
      (click)="previousPage()">Previous</a>
    </li>

    <li class="page-item disabled">
      <a class="page-link">{{currentPageIndex}}</a>
    </li>

    <li class="page-item" [ngClass]="{'disabled': nextRecordFlag}" style="cursor: pointer;">
      <a class="page-link" (click)="nextPage()">Next</a>
    </li>
  </ul>
</nav>

      
<app-message *ngIf="contactSeller"
(closeNavFlag)="closeNav($event)"
[name]="username"
[showChat]="true"
(showBell)="newMsgPresent($event)"
></app-message>
