.card {
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.card-body{
	padding-bottom: 1rem;
	flex-grow:0;
}

.buy-item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buy-item-box h3{
	font-weight: 700;
}

.buy-item-box div{
	font-weight: 500;
}

.buy-list{
	margin: 30px 0px;
}

.card-img-top {
	flex-grow: 1;
  object-fit:contain;
}

.filter-submit{
	align-self: flex-start;
}

.card-content{
	justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.bi-chat-left-fill::before{
	margin-bottom: 7px;
  padding-left: 3px;
}

.country-item-value {
  img.flag {
    width: 17px;
  }
}

:host ::ng-deep .p-dropdown {
  width: 14rem;
}

.filter-row{
  margin-top: 3%;
}

.filter-dropdown{
  display: flex;
  color: red;
}

.select-style{
  flex-wrap: wrap;
  width: 13%;
}

.content-position{
  text-align: center;
}

.contact-seller{
  color:#007bff;
  cursor: pointer;
}

jw-modal .jw-modal{
    position: fixed;
    Right: -82% !important;
    top: 28% !important;
    left: 78% !important;
    width: 42% !important;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

button.btn.btn-primary.filter-btn:disabled {
    cursor: not-allowed;
}

@media only screen and (max-width: 1125px){
  .select-style{
     margin-top: 16px;
  }
  .filter-btn{
    margin-top: 16px;
  }
}

@media only screen and (max-width: 690px){
  span.p-float-label{
    margin-top: 4%;
  }
}