<div class="toolbar navbar navbar-expand-sm py-0 navbar-dark" role="banner">
  <span routerLink="welcome" style="display:flex; cursor: pointer;">
    <img width="60" alt="S3-Auto Logo" src="./assets/logo.png" />
    <div class="box mt-2 ml-1">
      <div class="h4 my-0 text-light">S3 Auto</div>
      <div id="long-form">Sell Salvage Save</div>
    </div>
  </span>
  <div class="spacer"></div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="header-menu navbar-nav">
      <div class="nav-item mt-2" *ngIf="roleflag">
        <div class="contact" style="cursor: pointer;" routerLink="contactus">Contact Us</div>
      </div>
      <div class="nav-item mx-4"
      style="cursor: pointer;"
      *ngIf="email === undefined || email === null"
      routerLink="about-us">
      About Us
    </div>

    <div class="nav-item pt-1" *ngIf="roleflag">
      <span class="notification mr-3">
        <h4 (click)="checkNotification()">
          <i class="bi bi-envelope"></i>
        </h4>
        <span class="dot" *ngIf="showBell"></span>
      </span>

    </div>

    <div class="nav-item" *ngIf="email !== undefined && email !== null">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{email}}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button" (click)="updateProfile()">Profile<i class="bi bi-person-fill"></i></button>
          <button class="dropdown-item" type="button" (click)="signOut()">Logout</button>
        </div>
      </div>
    </div>

    <div class="nav-item mb-2 mb-md-0"
    style="cursor: pointer;"
    *ngIf="email === undefined || email === null"
    (click)="openModal('signUp_modal')">
    Sign Up/Login
  </div>
</div>
</div>

<jw-modal id="signUp_modal">
  <div class="modal-header custumheader">
    <ul class="nav nav-pills nav-fill mx-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-outline-light btnHeadr btnRadius" (click)="onSwitchMode(false)" >Sign Up</button>
      </li>
      <li class="nav-item active">
        <button type="button" class="btn btn-outline-light btnHeadr btnRadius" (click)="onSwitchMode(true)">Login</button>
      </li>
    </ul>
    <i class="close closeColor bi bi-x-octagon" (click)="closeModal('signUp_modal')" data-dismiss="modal" aria-label="Close"></i>

  </div>
  <app-auth (successRegister)="successRegister($event)" *ngIf="!isLoginMode"></app-auth>
  <br>
  <app-login (userEmail)="logedinUserEmail($event)"
  (userRole)="loggedInUserRole($event)" *ngIf="isLoginMode"></app-login>
  <!-- <button (click)="closeModal('signUp_modal');">Close</button> -->
</jw-modal>

</div>

<app-message *ngIf="triggerMsg"
(closeNavFlag)="closeNav($event)"
[showChat] = "openChat"
[parent]="true"
(showBell)="newMsgPresent($event)"
></app-message>
