<div class="row" style="border: 2px solid rgb(184, 207, 238);align-items: center;">
  <div class="container">
    <div class="row">
      <div class="col-sm">

          <div class="text-center">
            <img alt="Login Logo" src="./assets/loginLogo.png" class="img-fluid"/>
          </div>
      </div>
      <div class="col-sm">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="userName">User Name</label>
              <input type="text" class="form-control" formControlName="userName" autocomplete="off" >
            </div>
            <div *ngIf="isValidInput('userName')" class="error-messages">
              <div *ngIf="loginForm.controls['userName'].errors!.required">
                User Name is required.
              </div>
              <div *ngIf="loginForm.controls['userName'].errors!.minlength">
                User name shoud have minimum 5 character.
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" formControlName="password" autocomplete="off">
            </div>
            <div *ngIf="isValidInput('password')" class="error-messages">
              <div *ngIf="loginForm.controls['password'].errors!.required">
                Password is required.
              </div>
              <br>
            </div>

            <button type="submit" class="btn btn-warning button">Sign In</button>

            <button type="button" (click)="openModal('forgotPassword')" class="btn btn-link">Forgot Password?</button>
            </form>

      </div>
</div>

<jw-modal id="forgotPassword">
  <!-- <h1 style="height:10px"></h1> -->
  <app-forgot-password></app-forgot-password>

 </jw-modal>
