<section class="breadcrumbs-section">
  <div class="container p-1 p-sm-3">
    <div class="row">
      <div class="col-12">
        <h2>About Us</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="default.html">Home</a></li>
          <li class="breadcrumb-item active">About Us</li>
        </ol>
      </div>
    </div>
  </div>

</section>
<section class="about-company-section">
  <div class="container-fluid p-1 p-sm-3">
    <div class="row">
      <div class="col-12 text-center">
        <h2>what are we? S3 Auto?</h2>
        <hr />
      </div>

      <div class="col-md-6">
        <img class="img-fluid" src="./assets/salvage-vehicle.jpg" alt="">
        <!--<img src="./assets/parts.jpg" class="img-fluid" alt="Responsive image">-->
      </div>

      <div class="col-md-6">
        <p>
          Most junkyard owners do buy salvage vehicles from auctions or from towing zones or from individual sellers. They dismantle the usable parts from the vehicle and sell these parts via their websites or online selling platforms like eBay, amazon etc.

          </p>
        <p>
          This is common for most junkyard owners where they have to use two separate platform or websites for their complete business. There are very few websites of junkyard owners where they individually buy and sell via same website. But there is no unified platform for multiple junkyard owners to buy and sell vehicle and parts.

        </p>
        <p>On the other hand, there are no unified platform for users to buy parts and sell their salvage vehicle.</p>
        <p>
          Our platform provides us solution for this i.e multiple junkyard owners can buy salvages vehicle and sell parts in unified place. This will help with their single point of business, inventory management, transparency, and ease of business.

        </p>

      </div>
    </div>
  </div>
</section>
