.noRate{
	display: inline !important;
	font-size: large;
	color: #3e559f;
}

.carousel-inner{
	background-color: #c1c1c1;
}

.carousel img{
	height: 24rem;
}
.item-details-container {
	/*background: #f1f5fb;*/
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.content-space{
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

.card-ellipse{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.show{
	background: #f8d7da; 
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); 
	z-index: 10;
}

.toast-header{
	color: #721c24;
	background-color: #f8d7da;
}

.disabled{
	cursor: not-allowed;
}
@media only screen and (max-width: 600px) {
	
	.owner-info-header, .contact-seller-btn{
		font-size: 13px;
	}
	.junk-email{
		font-size: 9px;
	}

}

@media(max-width: 892px){
	#headingGroup h1{
		font-weight: 100;
		font-size: 27px;
	}
	
}
