.item-details-container {
	background: #f1f5fb;
}

.content-space{
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

.card-ellipse{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
	
	.owner-info-header, .contact-seller-btn{
		font-size: 13px;
	}
	.junk-email{
		font-size: 9px;
	}

}

@media(max-width: 892px){
	#headingGroup h1{
		font-weight: 100;
		font-size: 27px;
	}
	
}
