<h4><span class="badge badge-pill badge-primary sm-button" style="cursor: pointer;" 
	[routerLink]="['welcome']">
	<i class="bi bi-backspace pr-2"></i>Back
</span></h4>

<div *ngIf="fragment === 'Junkyard' || fragment === null || fragment === undefined">
	<h4 *ngIf="fragment !== 'Junkyard'" 
	class="sell-header mb-3">Want to Sell Parts?</h4>

	<div *ngIf="fragment !== 'Junkyard'; else onlyJunk" 
	class="sell-subheader">Register/Login as a <strong class="imp-pnt">junkyard Owner</strong> and get started to <strong class="imp-pnt">sell used recycled parts</strong> from vehicles.
	</div>
	<ng-template #onlyJunk>
	<div class="sell-subheader">Buying vehicles service allows you to <strong class="imp-pnt">buy vehicles</strong> for your Junk Yard where <strong class="imp-pnt">parts could be recycled and put on sale</strong>
	</div>
	<div class="sell-subheader mt-1 mb-2">Create a <strong class="imp-pnt">Junk Yard Owner</strong> account with us the get started to experience our benefits.</div>
	</ng-template>
	<h4 *ngIf="fragment === 'Junkyard'" 
	class="sell-header mb-3" style="margin-top: 3%;">Want to Sell Parts?</h4>
	<br>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 mb-5" style="justify-content: center;">
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-people-fill"></i></h1>
			<div class="my-card-content">
				<span ><strong>Reach More Customers</strong></span>
				<span>Your inventory will be accessed and viewed by parts seekers.</span>
			</div>
		</div>
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-chat-square"></i></h1>
			<div class="my-card-content">
				<span ><strong>Get notified with Buyers</strong></span>
				<span>You will be able to communicate through our chat for any request related to your inventory</span>
			</div>
		</div>

		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-eyeglasses"></i></h1>
			<div class="my-card-content">
				<span ><strong>Check Sell Inventory</strong></span>
				<span>Ability to sell parts by providing details and check list of sold/not-sold parts</span>
			</div>
		</div>
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-star"></i></h1>
			<div class="my-card-content">
				<span ><strong>Get rating from Customers</strong></span>
				<span>You will be rated by multiple customers</span>
			</div>
		</div>
	</div>
	<div *ngIf="fragment === 'Junkyard'">
		<h4 class="sell-header mb-3" style="margin-top: 3%;">Want to Purchase Salvage Vehicle?</h4>	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mb-3" style="justify-content: center;">
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-people-fill"></i></h1>
			<div class="my-card-content">
				<span ><strong>Flexible search criteria</strong></span>
				<span>Ability to search vehicles based on make, model, year and location</span>
			</div>
		</div>
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-chat-square"></i></h1>
			<div class="my-card-content">
				<span ><strong>Check previous messaging history</strong></span>
				<span>Get in touch with salvaged vehicle owner</span>
			</div>
		</div>

		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-eyeglasses"></i></h1>
			<div class="my-card-content">
				<span ><strong>Check details about vehicles</strong></span>
				<span>Large salvaged vehicles inventory check with precise details</span>
			</div>
		</div>
	</div>
	</div>
	
</div>

<div *ngIf="fragment === null || fragment === undefined">
	<div class="sell-car mt-1">
		<h4 class="sell-header">Want to Sell Old Vehicle?{{fragment}}
		</h4>
	</div>
	<br />
	<div class="sell-subheader">Register/Login as a <strong class="imp-pnt">User</strong> and get started to <strong class="imp-pnt">Sell Salvage Vehicles</strong> and get a good deals</div>
	<br>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mb-3" style="justify-content: center;">
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-people-fill"></i></h1>
			<div class="my-card-content">
				<span ><strong>Reach More Customers</strong></span>
				<span>Your old vehicles will be viewed by multiple Junkyards.</span>
			</div>
		</div>
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-chat-square"></i></h1>
			<div class="my-card-content">
				<span ><strong>Get notified with JunkYards</strong></span>
				<span>Get notification from interested junkyards for vehicle buy</span>
			</div>
		</div>

		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-eyeglasses"></i></h1>
			<div class="my-card-content">
				<span ><strong>Check Sell Vehicle Info</strong></span>
				<span>You will be able to track your available/sold vehicles</span>
			</div>
		</div>
	</div>
</div>