<div>
<br>
	<h4><span class="badge badge-pill badge-primary sm-button" style="cursor: pointer;" 
		[routerLink]="['welcome']">
		<i class="bi bi-backspace pr-2"></i>Back
	</span></h4>
	
	<h4 class="sell-header mb-3">Want to Sell Parts?</h4>
	
	<div class="sell-subheader">Register as a <strong class="imp-pnt">junkyard Owner</strong> and get started to <strong class="imp-pnt">sell used recycled parts</strong> from vehicles.</div>
	<br>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5" style="justify-content: center;">
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-people-fill"></i></h1>
			<div class="my-card-content">
				<span ><strong>Reach More Customers</strong></span>
				<span>Your inventory will be accessed and viewed by parts seekers.</span>
			</div>
		</div>
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-chat-square"></i></h1>
			<div class="my-card-content">
				<span ><strong>Get notified with Buyers</strong></span>
				<span>You will be able to communicate through our chat for any request related to your inventory</span>
			</div>
		</div>
	
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-eyeglasses"></i></h1>
			<div class="my-card-content">
				<span ><strong>Check Sell Inventory</strong></span>
				<span>You will be able to track your available/sold parts</span>
			</div>
		</div>
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-star"></i></h1>
			<div class="my-card-content">
				<span ><strong>Get rating from Customers</strong></span>
				<span>You will be rated by multiple customers</span>
			</div>
		</div>
	</div>
	
	
	<div class="sell-car">
		<h4 class="sell-header" style="margin-top: 5%;">Want to Sell Old Vehicle?
		</h4><!-- <img src="../assets/oldcar.png" alt="old car"> -->
	</div>
	<br />
	<div class="sell-subheader">Register as a <strong class="imp-pnt">User</strong> and get started to <strong class="imp-pnt">Sell Salvage Vehicles</strong> and get a good deals</div>
	<br>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mb-3" style="justify-content: center;">
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-people-fill"></i></h1>
			<div class="my-card-content">
				<span ><strong>Reach More Customers</strong></span>
				<span>Your old vehicles will be viewed by multiple Junkyards.</span>
			</div>
		</div>
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-chat-square"></i></h1>
			<div class="my-card-content">
				<span ><strong>Get notified with JunkYards</strong></span>
				<span>Get notification from interested junkyards for vehicle buy</span>
			</div>
		</div>
	
		<div class="my-card p-1 mx-2">
			<h1><i class="bi bi-eyeglasses"></i></h1>
			<div class="my-card-content">
				<span ><strong>Check Sell Vehicle Info</strong></span>
				<span>You will be able to track your available/sold vehicles</span>
			</div>
		</div>
	</div>
</div>

