.junk-sell{
	display: flex;
	justify-content: center;
	align-items: center;
}

.junk-sell > span > button{
	text-transform: uppercase;
}



.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto; 
	margin-top: 0px!important; 
    padding: 0px 0px!important; 
}

#star{
	color: yellow;
}

#header{
	color: #fff;
	text-align: center;
	font-weight: 600;
	font-size: x-large;
}

	.butsrc {
		width: 140px;
		height: 45px;
		font-family: 'Roboto', sans-serif;
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-weight: 800;
		color: #000;
		background-color: #fff;
		border: 2px;
		border-color: aliceblue;
		border-radius: 45px;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease 0s;
		cursor: pointer;
		outline: none;
		background-color: #1976d2 !important;
		color: white;
		background-image: linear-gradient(to right, #5710c2, #0a1d30);
	  }
	  
	  .butsrc:hover {
		background-color: #f9fbfc;
		box-shadow: 0px 15px 20px rgba(243, 243, 245, 0.993);
		color: #fff;
		transform: translateY(-7px);
	  }


.part-tagline{
	color: white;
    margin-top: 2%;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
}
.carousel-inner > .item {
   height: 400px;
}
button.btn.btn-warning:disabled {
	cursor: not-allowed;
}
.search-header{
	font-weight: lighter;
	text-align: center;
}
#carouselExampleIndicators{
	position: relative;
}

#search{
	position: absolute;
	right: 13%;
	top: 29%;
	background: #2959b9;
	opacity: 0.9;
	padding: 0 2% 2%;
	text-transform: uppercase;
	width: 75%;
}

.search-btn{
	margin-top: -40px;
    margin-left: 83%;
}

.search-btn button{
	text-transform: uppercase;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
	color: white;
	background-image: linear-gradient(to right, #563d7c, #1976d2) !important; 
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover{
	color: white;
	background-image: linear-gradient(to right, #563d7c, #1976d2) !important; 	
}


.content-position{
	text-align: center;
}

.p-dropdown-item p-ripple{
	color: white;
	background-image: linear-gradient(to right, #563d7c, #1976d2);			
}
.ng-invalid.ng-dirty{
	border-style: solid;
}

.static-part img{
	max-height: 94%;
	max-width: 88%;
	width: 200px;
}

.static-part{
	width: 200px; 
	text-align: center;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

p-dropdown.ng-dirty.ng-invalid > .p-dropdown {
	border: 3px solid #dc3545;
}

.toast-header{
	color: #721c24;
	background-color: #f8d7da;
}
.show{
	background: #f8d7da; 
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); 
	z-index: 10;
}

#trapezoid{
	border-bottom: 27px solid #1976d2;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	height: 3px;
	width: 100px;
	cursor: pointer;
}

#divToScroll{
	transition-delay: 0.5s
}

.p-disabled{
	cursor: not-allowed !important;
}

.make{
	margin-left: 2%;
	display: flex;
}

p-dropdown{
	width: 13rem !important;
}

/*test*/
.card-img-top {
  flex-grow: 1;
  object-fit:contain;
}
.card {
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.card-body{
	padding-bottom: 1rem;
	flex-grow:0;
}

.card-content{
	justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.toast-confirm{
	position: absolute;
    right: 0;
    right: 73%;
    margin-top: -2%;
}

@media screen and (max-width: 690px) {
	#search{
		top: 5%;
		right: 18%;
	}
	.make, .p-fluid{
		margin-left: 0% !important;
	}	
	.search-btn{
		margin-top: 2%;
		margin-left: 18% !important;
	}
	.carousel-item > img{
		height: 18rem !important;
	}
	.p-dropdown-panel.p-component{
		width: 20rem;
	}

	.toast-confirm{
	right: -1rem;
    margin-top: -11%;
    width: 18rem;
	}


}

@media (min-width: 1200px)
.row-cols-xl-4 > * {
	flex: 0 0 25%;
	max-width: 23% !mportant;
}

@media(max-width: 1200px){
	.search-btn{
		margin-top: 1%;
		margin-left: 6%;
	}
	.p-fluid{
		margin-top: 3px;
		margin-left: 6%;
	}
}