.junk-sell{
	display: flex;
	justify-content: center;
	align-items: center;
}

.junk-sell > span > button{
	text-transform: uppercase;
}

#carouselExampleIndicators .container-fluid.content.override{
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 5px!important;
	padding: 0px 0px!important;
}

#star{
	color: yellow;
}

#header{
	color: #ffc107;
	text-align: center;
	font-weight: 800;
	font-size: x-large;
}

.part-tagline{
	color: white;
	margin-top: 2%;
	text-align: center;
	font-size: larger;
	font-weight: 700;
	text-transform: capitalize;
}

.carousel-inner > .item {
	height: 400px;
	width: 100%;
}

.carousel {
	width: 100%;
}

.footerFix {
	display: flex;
	flex-wrap: wrap;
	margin-right: 0px;
	margin-left: -1px;
}
button.btn.btn-warning:disabled {
	cursor: not-allowed;
}
.search-header{
	font-weight: lighter;
	text-align: center;
}
#carouselExampleIndicators{
	position: relative;
}

#search{
	position: absolute;
	right: 13%;
	top: 29%;
	background: #2959b9;
	opacity: 0.9;
	padding: 0px 0% 1%;
	text-transform: uppercase;
	width: 75%;
}

.search-filter{
	margin-left: 8%;
}

.search-btn button{
	text-transform: uppercase;
}

.search-btn{
	margin-top: 2px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
	color: white;
	background-image: linear-gradient(to right, #563d7c, #1976d2) !important; 
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover{
	color: white;
	background-image: linear-gradient(to right, #563d7c, #1976d2) !important; 	
}

.content-position{
	text-align: center;
}

.p-dropdown-item p-ripple{
	color: white;
	background-image: linear-gradient(to right, #563d7c, #1976d2);			
}

.static-part img{
	max-height: 70%;
	max-width: 46%;
	width: 100px;
}

.static-part {
	border-radius: 50%;
	width: 160px;
	height: 160px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.ng-invalid.ng-dirty{
	border-style: solid;
}

.toast-header{
	color: #721c24;
	background-color: #f8d7da;
}
.show{
	background: #f8d7da;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
	z-index: 10;
}

#trapezoid{
	border-bottom: 27px solid #1976d2;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	height: 3px;
	width: 100px;
	cursor: pointer;
}

#divToScroll{
	transition-delay: 0.5s
}

.p-disabled{
	cursor: not-allowed !important;
}
.toast-header{
	color: #721c24;
	background-color: #f8d7da;
}
.show{
	background: #f8d7da; 
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); 
	z-index: 10;
}

#trapezoid{
	border-bottom: 27px solid #1976d2;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	height: 3px;
	width: 100px;
	cursor: pointer;
}

#divToScroll{
	transition-delay: 0.5s
}

.p-disabled{
	cursor: not-allowed !important;
}

.make{
	margin-left: 2%;
	display: flex;
}

p-dropdown{
	width: 13rem !important;
}

/*test*/
.card-img-top {
	flex-grow: 1;
	object-fit:contain;
}

.make, .p-fluid{
	margin-left: 0% !important;
}

.card {
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

}

.card-body{
	padding-bottom: 1rem;
	flex-grow:0;
}

.card-content{
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

.toast-confirm{
	position: absolute;
	right: 0;
	right: 73%;
	margin-top: -2%;
}

@media screen and (max-width: 690px) {
	#search{
		top: 5%;
		right: 18%;
		position: initial;
		width: 17rem;
	}
	.make, .p-fluid{
		margin-left: 0% !important;
	}	
	.search-btn{
		margin-top: 2%;
		margin-left: 18% !important;
	}

	.carousel-item > img{
		height: 18rem !important;
	}
	.p-dropdown-panel.p-component{
		width: 20rem;
	}

	.toast-confirm{
		right: -1rem;
		margin-top: -11%;
		width: 18rem;
	}

	.search-filter{
		margin-left: 10%;
	}

	.carousel-inner, .carousel-control-prev, .carousel-control-next
	, .carousel-indicators{
		display: none;
	}

	.junk-sell{
		width: 17rem;
		flex-wrap: wrap;
		margin-top: 2%;
	}
}

@media (min-width: 1200px)
{
	.row-cols-xl-4 > * {
		flex: 0 0 25%;
	}
}

.p-fluid{
	margin-top: 3px;
	margin-left: 6%;
}
