/*.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
   
  }
*/

.content{
	margin-top: 82px;
	padding: 0px 65px;
}

@media only screen and (max-width: 600px){
  .content {
    padding: 0px 30px;
  }
}