<h5 class="mt-5">Advanced with Templating, Filtering and Clear Icon</h5>
<p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name"
  [showClear]="true" placeholder="Select a Country"
  (onChange)="onChange($event)" >
  <ng-template pTemplate="selectedItem">
    <div class="country-item country-item-value" *ngIf="selectedCountry">
      <div>{{selectedCountry.name}}</div>
    </div>
  </ng-template>

  <ng-template let-country pTemplate="item">
    <div class="country-item">
      <div>{{country.name}}</div>
    </div>
  </ng-template>
</p-dropdown>

