<!-- <p>sell-inventory works!</p>

<div class="card">
  <h5></h5>
  <p-table [columns]="cols" [value]="products" sortMode="multiple" #dt [paginator]="true" [rows]="4" styleClass="responsive">
&lt;!&ndash;    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Image </th>
        <th pSortableColumn="partname">Part Name <p-sortIcon field="partname"></p-sortIcon>
        </th>

        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Description </th>
        <th>Action</th>
      </tr>
      <tr>
        <th></th>
        <p-columnFilter type="text" field="Part Name"></p-columnFilter>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <input *ngSwitchCase="Part name" pInputText type="text"
                         (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                </th>
      </tr>

    </ng-template>&ndash;&gt;
   &lt;!&ndash; <ng-template pTemplate="body" let-prod>
      <tr>


        <td><div class="embed-responsive embed-responsive-16by9">
          <img class="img-responsive embed-responsive-item " [src]="prod.imageUrl">
        </div></td>
        <td>{{prod.partname}}</td>
        <td>{{prod.make}}</td>
        <td>{{prod.model}}</td>
        <td>{{prod.year}}</td>
        <td>{{prod.description}}</td>
        <td>
          <p-dropdown [options]="actions" [(ngModel)]="selectedaction" optionLabel="name"></p-dropdown>
        </td>
      </tr>
    </ng-template>&ndash;&gt;

    <ng-template pTemplate="header" let-columns>

   <tr>
     <th>Image </th>
     <th *ngFor="let col of columns" [pSortableColumn]="col.field">
       {{col.header}}
       <p-sortIcon [field]="col.field"></p-sortIcon>
     </th>
     <th>Action</th>
   </tr>
   <tr>
     <th>  </th>
     <th *ngFor="let col of columns" [ngSwitch]="col.field">
       <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
     </th>
   </tr>
 </ng-template>

 <ng-template pTemplate="body" let-user  let-columns="columns" let-prod>
   <tr>
     <td><div >
&lt;!&ndash;          <img class="img-responsive embed-responsive-item " [src]="prod.imageUrl">>&ndash;&gt;
       <div class="embed-responsive embed-responsive-16by9">
             <input class="img-responsive embed-responsive-item " type="image" [src]="prod.imageUrl" alt="Part Image" />
       </div>
        </div></td>
        <td *ngFor="let col of columns">
          {{user[col.field]}}
        </td>
        <td>
          <p-dropdown [options]="actions" [(ngModel)]="selectedaction" optionLabel="name"></p-dropdown>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>





 -->
