<!-- <section class="about-company-section"> -->
  <div class="container-fluid p-1 p-sm-3">

    <div class="row" style="background-image: url(./assets/aboutUs.jpg);background-size: cover;">

      <div class="col-md-6">
        <div class="col-12 text-center">
          <h2><strong>What are we? S3 Auto?</strong></h2>
          <hr />
        </div>
      </div>
      <!-- <div class="col-md-6">
        <img class="img-fluid" src="./assets/junkyard-sunlight.jpg" alt="">
      </div> -->
      <div class="cardStyle col-md-6" style="color: white;">
        <strong><i>
        <p>
          Most junkyard owners do buy salvage vehicles from auctions or from towing zones or from individual sellers. They dismantle the usable parts from the vehicle and sell these parts via their stores or online selling platforms.
        </p>
        <p>
          This is common for most junkyard owners where they have to use two separate platforms or websites for their business operations. There are very few websites from junkyard owners where they individually buy and sell in single place. But there is no unified platform for multiple junkyard owners to buy vehicle and sell parts.
        </p>
        <p>On the other hand, there are no unified platform for users to buy parts from different sellers and sell their salvage vehicle in same platform where multiple buyers are available</p>
        <p>
          Our platform provides a solution for this where multiple junkyard owners can buy salvages vehicle and sell parts in unified place. This will help with their single point of business, inventory management, transparency, and ease of business. At the same time it helps users to sell their salvaged vehicles or buy parts in same place.
        </p></i>
      </strong>
      </div>
      <!-- <div class="col-md-2"></div> -->
    </div><br>

    <div class="row">
      <div class="col-12 text-center">
        <h2><strong>Meet our development team</strong></h2>
        <h6></h6>
        <hr />


      </div>
      <br><br>
<div class="row col-md-12" style="justify-content: space-evenly;">


    <div style="  text-align: center;   ">
     <strong><span class="mx-3">Apurba Das</span></strong>

    <div class="circular--portrait">
      <img src="assets/team/adas.jfif" />
    </div></div>

    <div style="  text-align: center; ">
     <strong><span class="mx-3">Prasanna Ujwal Sasne</span></strong>
  <div class="circular--portrait">
    <img src="assets/team/prasanna.jfif" />
  </div></div>

  <div style="  text-align: center; ">
    <strong><span class="mx-3">Ganga B. Jagarlamudi</span></strong>
  <div class="circular--portrait">
    <img src="assets/team/ganga.jfif" />
  </div></div>

  <div style="  text-align: center; ">
   <strong> <span class="mx-3">Noor Kolo</span></strong>
  <div class="circular--portrait">
    <img src="assets/team/noor.jfif" />
  </div></div>

</div>
    </div>
  <!-- </section> -->


