
<!-- side navbar -->

<div class="sidenav" [ngStyle]="{'width': sideNavClicked == true? '550px' : '0px'}"
*ngIf="showChat">
  <div class="container"  >

    <div class="messaging ">
      <div class="inbox_msg ">
        <h3 class=" text-center "><span style="color:white; font-style: italic;">Chat<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">    &times;</a></span></h3>
        <div class="inbox_people">
          <div class="headind_srch">
              <h5 class="contactslist" ><span style=" font-style: italic;"> Contacts</span></h5>
            </div>
            <div class="inbox_chat">
              <div *ngFor="let item of conversations"  
              [ngClass]="{'active_chat': item.receiver === toUserName, 
              'deactive_chat': item.receiver !== toUserName}"
              (click)="getSelectedChat(item)">
              <i class="bi bi-person-bounding-box mt-2 ml-1"></i>
              <span class="mt-2 ml-3"><h5>{{item.receiver}}
              </h5></span>
              <span *ngIf="!item.read" class="badge badge-pill mt-2">
                <i class="bell bi-bell-fill h6"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div class="msghead">
            <h4>{{toUserName}}</h4>
          </div>
          <div class="msg_history" #divToScroll>

            <div *ngFor="let item of chatArray">
              <div class="incoming_msg" *ngIf="item.from !== username">
                <div class="incoming_msg_img"> <i class="personicon bi-person-bounding-box ml-2"></i> </div>
                <div class="received_msg" style="color: blue">
                  <div class="received_withd_msg ml-0">
                    <p><span style="color:black;">{{item.msg}}</span></p>
                    <span class="time_date" style="color:black">{{item.ts| date: "short"}}</span></div>
                  </div>
                </div>

                <div class="outgoing_msg" *ngIf="item.from === username">
                  <div class="sent_msg" >
                    <p><span>{{item.msg}}</span></p>
                    <span class="time_date" style="color:black">{{item.ts| date: "short"}}</span> </div>
                  </div>
                </div>
              </div>
              <form class="type_msg">
                <div class="" >
                  <input  type="text" [(ngModel)]="message" class="form-control" name="message" required>
                  <button class="msg_send_btn badge badge-pill badge-primary sm-button" type="button"
                  (click)="send(message)"
                  [disabled]="message == ''"
                  [ngClass]="{'disabled': message == ''}">Send</button>

                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </div>
