<!-- <section class="about-company-section"> -->
  <div class="container-fluid p-1 p-sm-3">
    <div class="row">
      <div class="col-12 text-center">
        <h2><strong>How do we work? Know more functionality</strong></h2>
        <hr />
      </div>
      <div class = "card col-md-6">
        <div style="align:center;" class="embed-responsive embed-responsive-4by3">
          <video autoplay loop class="embed-responsive-item">
              <source src="../../../assets/WorkFlow.mp4" type="video/mp4">
          </video>
      </div>
        <!-- <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="./assets/WorkFlow.mp4"></iframe>
        </div> -->
          <!-- <img class="img-fluid" src="./assets/home.png" alt=""> -->
      </div>
      <div class = "col-md-6">
        <p> <i>
          "Our platform provides a solution for this where multiple junkyard owners can buy salvages vehicle and sell parts in unified place. This will help with their single point of business, inventory management, transparency, and ease of business. At the same time it helps users to sell their salvaged vehicles or buy old parts in same place."
        </i>
        </p>
        <div class="scroll-left">
          <p><strong>Register Now And Enjoy the One Stop Benifits Of S3 Auto</strong></p>
          </div>


                <div id="accordion">
                  <div class="card">
                    <div class="card-header custumheader" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link " style="color: white;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <strong>USER</strong>
                        </button>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <ul>
                          <li>Search using filter to <strong>Buy Used Parts</strong> and check their details</li>
                          <li><strong>Sell Old/Salvaged Vehicle.</strong>
                            <ul>
                              <li> <u>Edit</u> existing added Vehicle </li>
                              <li> <u>Delete</u> existing added Vehicle </li>
                              <li> <u>Mark Sold</u> once the Sale is complete</li>
                            </ul>

                            </li>
                          <li><strong>Browse Existing Inventory</strong> in the account</li>
                          <li>View <stong>Selling History</stong></li>
                          <li>Raise technical concerns (Tickets) via <strong>Contact Us</strong></li>
                          <li><strong>Chat functionality</strong> for all dealings(Sell/Buy).User <strong>Notification</strong> for Uread messsages</li>
                          <li><strong>Update</strong> User profile</li>
                        </ul>
                        </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header custumheader"  id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed " style="color: white;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <strong>JUNKYARD</strong>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        <ul>
                          <li>Search using filter to<strong>Buy Old/Salvage Vehicle</strong> and check their details</li>
                          <li><strong>Sell Old Vehicle Parts.</strong>
                            <ul>
                              <li> <u>Duplicate</u> existing inventory item for bulk add</li>
                              <li> <u>Edit</u> existing added Parts </li>
                              <li> <u>Delete</u> existing added Parts </li>
                              <li> <u>Mark Sold</u> once the Sale is complete</li>
                            </ul>

                            </li>
                          <li><strong>Browse Existing Inventory</strong> in the account</li>
                          <li>View <stong>Selling History</stong></li>
                          <li>Raise technical concerns (Tickets) via <strong>Contact Us</strong></li>
                          <li><strong>Chat functionality</strong> for all dealings(Sell/Buy).User <strong>Notification</strong> for Uread messsages</li>
                          <li><strong>Update</strong> User profile</li>
                        </ul>

                      </div>
                    </div>
                  </div>

                </div>

      </div>


    </div>



    <br><br>

  </div>
<!-- </section> -->
