<footer style="background-color: darkblue">
  <div class="footer">
    <div class="row ">
      <div class="col-md-2 text-center text-md-left ">
        <div class="py-0">
          <img class="image" width="120"
               alt="Angular Logo"
               src="./assets/logo.png" />
          <div class="box">
            <div class="h4 my-0 text-light">S3 Auto</div>
            <div id="long-form">Sell Salvage Save</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-white text-center text-md-left ">
        <div class="py-2 my-4">
          <h4 class="font-weight-bold">Services</h4>
          <a>Buy Vehicles</a>
          <br>
          <a>Buy Parts</a><br>
          <a>Sell Vehicles</a><br>
          <a>Sell Parts</a>

        </div>
      </div>
        <div class="col-md-3 text-white text-center text-md-left ">
          <div class="py-2 my-4">
            <div>
              <h5>About US </h5>
              <p class="text-white">
                Address : 318 Meadow Brook Rd, Rochester, MI 48309
              Phone Number : +1 2839499720</p>
            </div>
            <div>
              <p><a style="color: white" href="mailto:support@s3auto.com">support@s3auto.com</a></p>
            </div>
          </div>
        </div>
      <div class="col-md-4 text-white my-4 text-center text-md-left ">
          <h6 class=" font-weight-bold ">About the Company</h6>
          <p class="text-white">
            A unified platform for Multiple Junkyards Owners and Common public to sell/buy Vehicle and Parts.
          </p>
      </div>
    </div>
  </div>
</footer>

