<footer style="background-color: darkblue">
  <div class="footer">
    <div class="row ">
      <div class="col-md-2 text-white text-center text-md-left  ">
        <div class="py-2 ml-4 my-2">
          <h4 class=" services "style="text-decoration-line: underline">Services</h4>
          <a>Buy Vehicles</a>
          <br>
          <a>Buy Parts</a><br>
          <a>Sell Vehicles</a><br>
          <a>Sell Parts</a>
        </div>
      </div>
      <div class="col-md-4 text-white text-center text-md-left ">
        <div class="py-2 mx-2 my-2" >
          <div>
            <h5 style="text-decoration-line: underline" >Location</h5>
            <p class="text-white">
              Address : 318 Meadow Brook Rd, Rochester, MI 48309
              Phone Number : +1 2839499720</p>
          </div>
<!--          <div>
            <p><a style="color: white" href="mailto:support@s3auto.com">support@s3auto.com</a></p>
          </div>-->
        </div>
      </div>
      <div class="col-md-4 text-white text-center text-md-left ">
        <div class="py-2 mx-2 my-2">
        <h6 class="  " style="text-decoration-line: underline">About the Application</h6>
        <p class="text-white">
          A unified platform to buy and sell salvage vehicles and used parts.
        </p>
          </div>
      </div>
    </div>
  </div>
</footer>

