

<!-- footer -->
<footer style="background-color: darkblue">
  <div class="footer">
    <div class="row ">
      <div class="col-md-2 text-center text-md-left ">

        <div class="py-0">

          <!--          <h3 class=" text-white">S3 Auto</h3>-->
          <img width="120"
               alt="Angular Logo"
               src="./assets/logo.png" />
          <!-- <h4 class="text-white"> Sell Salvage Save</h4>-->
          <div class="box">
            <div class="h4 my-0 text-light">S3 Auto</div>
            <div id="long-form">Sell Salvage Save</div>
          </div>
          <!--          <div class="col-md-8">
                  <ul class="text-white">
                    <li>
                      <a class="text-white" href="#">Home</a>
                    </li>
                    <li>
                      <a class="text-white" href="#">About</a>
                    </li>
                    <li>
                      <a class="text-white" href="#">Contact US</a>
                    </li>
                  </ul>
                </div>-->
        </div>
      </div>
      <div class="col-md-2 text-white text-center text-md-left ">
        <div class="py-2 my-4">
          <h4 class="font-weight-bold">Services</h4>
          <ul class="text-white">
            <li>
              <a class="text-white" href="#">Buy Vehicles</a>
            </li>
            <li>
              <a class="text-white" href="#">Buy Parts</a>
            </li>
            <li>
              <a class="text-white" href="#">Sell Vehicles</a>
            </li>
            <li>
              <a class="text-white" href="#">Sell Parts</a>
            </li>
          </ul>
        </div>
        </div>

        <div class="col-md-3 text-white text-center text-md-left ">
          <div class="py-2 my-4">
            <div>
              <h5>About US </h5>

              <p class="text-white">
               
                <!--<div class="font-weight-bold">
          <h5>About US </h5>
           </div>-->
                Address : 318 Meadow Brook Rd, Rochester, MI 48309
              Phone Numbe : +1 2839499720</p>
            </div>
            <div>
              <p><a href="mailto:support@s3auto.com">support@s3auto.com</a></p>
            </div>
          </div>
        </div>

     <div class="col-md-4 text-white my-4 text-center text-md-left ">
          <h6 class=" font-weight-bold ">About the Company</h6>
          <p class="text-white">
           <!-- Here multiple junkyard owners can buy salvages vehicle , sell parts and also User can sell salvage car , buy parts in a unified place-->
            A unified platform for Multiple Junkyards Owners and Common public to sell/buy Vehicle and Parts.
          </p>
     </div>

          <!--<div class="py-1 ">
    <section class="">

      <p><strong>Basic example</strong></p>-->
          <!-- Facebook -->
          <!--<a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab  fa-facebook fa-2x text-primary mx-3"></i></a>-->
          <!-- Twitter -->
          <!--<a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter fa-2x text-info mx-3"></i></a>-->
          <!-- Google -->
          <!--<a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google-plus fa-2x text-danger mx-3"></i></a>-->
          <!--Youtube-->
          <!--<a class="icons-sm yt-ic"><mdb-icon fab icon="youtube"></mdb-icon></a>


        <a class="btn btn-social-icon btn-twitter">
          <span class="fa fa-twitter"></span>
        </a>
      </section>
      <a href="#"><i class="fab fa-facebook fa-2x text-primary mx-3"></i></a>
      <a href="#"><i class="fab fa-google-plus fa-2x text-danger mx-3"></i></a>
      <a href="#"><i class="fab fa-twitter fa-2x text-info mx-3"></i></a>
      <a href="#"><i class="fab fa-youtube fa-2x text-danger mx-3"></i></a>
      <a href="#" class="fa fa-facebook"></a>

    </div>-->
        <!--</div>-->
      </div>
  </div>
</footer>
